/*Menu relies on class on bodyy ie. body.nav-close and body.nav-open*/
#menu {
    position: fixed; /*kv*/
    z-index: 300;
    width: 250px;
    top: 0;
    bottom: 0;
    background-color: #252525;
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
#menu {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    margin-left: 0;/* New kv*/
    z-index: 200 !important;
    padding-top: 3em;
}

.nav-close #menu {
    left: -250px; /* New kv*/
    

}

.nav-open #menu {
    left: 0; /* New kv*/
}


 .btn-navbar {
    background-image: none;
    margin: 15px 0 0 0;
    padding: 8px;
    text-shadow: none;
    color: #fff;
    border-bottom: 0;
        border-radius: 2px;
        position: fixed;
        z-index: 300;
}
.btn-navbar:hover {
    background-color: #15252d;
        border-bottom: 0px solid transparent;
}
.btn-navbar {
    background-color: #37474f;
}
.icon-bar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
}

 .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}


#cookiesInfo {
    background: #f7f9fa none repeat scroll 0 0;
    top: 0;
    left: 0;
   /* position: fixed;*/
     position: fixed;
    width: 100%;
    z-index: 500;
    bottom: auto;


}

#cookiesInfoContent {
    color: #000;
    font-size: 0.8em;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    /*width: 750px; remove from main css*/

}



#cookiesInfoContent p {
    color: #000;
    display: inline-block;/* New kv*/
    float: left;
    margin: 0;
    padding: 0;
    width: 80%; 
}


#main-wrapper {
	z-index: 50;
	position: relative;
}

header {

    z-index: 0 !important;

}

#cookiesInfo a {
    background-color: #303030;
    border: 1px solid rgba(0,0,0,.1);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    line-height: 19px;
    padding: 4px 8px;
    text-decoration: none;
    white-space: nowrap;
}